body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tile {
    background-color: rgb(238, 164, 164);
    width : 80vmin;
    aspect-ratio: 1;
    box-shadow: black 5px 5px 10px 0;
    border-radius: 5%;
    transition : width 500ms;
    background-image: url('../assets/tileBkgd/canva2.png');
    background-size: 100% 100%;
}